openapi: 3.0.3
info:
  title: Onboarding API
  description: STD22062
  version: 1.2
servers:
  - url: https://STD22062.com/api/v1

paths:
  /students:
    get:
      tags:
        - default
      summary: Show the student
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
            application/xml:
              schema:
                $ref: '#/components/schemas/Student'
        '500':
          description: Internal Server Error
    post:
      summary: Add a new student
      requestBody:
        description: Create a new student
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
          application/xml:
            schema:
              $ref: '#/components/schemas/Student'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Student'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
            application/xml:
              schema:
                $ref: '#/components/schemas/Student'
        '500':
          description: Internal Server Error
    put:
      summary: Update an existing student
      requestBody:
        description: Update an existent student in the university
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
          application/xml:
            schema:
              $ref: '#/components/schemas/Student'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Student'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
            description: Invalid ID supplied
          '404':
            description: Student not found
          '405':
            description: Validation exception
    delete:
      summary: Delete an existing student
      responses:
        '204':
          description: No content
        '404':
          description: Student not found
  /teacher:
    get:
      tags:
        - default
      summary: Show the teacher
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
            application/xml:
              schema:
                $ref: '#/components/schemas/Teacher'
        '500':
          description: Internal Server Error 
    post:
        summary: Add a newteacher
        requestBody:
          description: Create a new teacher
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
            application/xml:
              schema:
                $ref: '#/components/schemas/Teacher'
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Teacher'
          required: true
        responses:
          '200':
            description: Successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Teacher'
              application/xml:
                schema:
                  $ref: '#/components/schemas/Teacher'
          '500':
            description: Internal Server Error
components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Vali
        birthday:
          type: string
          format: date
          example: 2003-06-03
      xml:
        name: student
    Teacher:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Ryan
        courses:
          type: array
          items:
            type: object
            properties:
              courseName:
                type: string
                example: API
              courseCode:
                type: string
                example: web-service
              courseDuration:
                type: integer
                example: 2
      xml:
        name: teacher

     
        
