openapi: 3.0.3
info:
  title: Onboarding API
  description: |-
   STD22062
  version: 1.2
servers:
  - url: https://STD22062.com/api/v1

paths:
  /students:
    get:
      tags:
        - default
      summary: Show the student
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                  $ref:  '#/components/schemas/Student'

            application/xml:
              schema:
                  $ref:  '#/components/schemas/Student'
        '500':
          description: Internal Server Error
    post:
      summary: Add a new student
      requestBody:
        description: Create a new student
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
          application/xml:
            schema:
              $ref: '#/components/schemas/Student'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Student'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
            application/xml:
              schema:
                $ref: '#/components/schemas/Student'
        '500':
          description: Internal Server Error
components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Vali
        birthday:
          type: string
          example: 2003-06-03
      xml:
        name: student


